.item {
  height: 36px;
  border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
  border-bottom: none;
}

.users {
  padding-left: 17px;
  border-collapse: collapse;
}

.buttonsContainer {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-bottom: 23px;
}

.container {
  margin-left: 10px;
  width: 610px;
  display: flex;
  flex-direction: column;
}

.thead {
  background-color: #1231cb;
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #E5E5E5;
  line-height: 16px;
}

.nameCol {
  padding-left: 17px;
}

.ageCol {
}